{% extends 'places/base.html' %}
{% block create_active %}active{% endblock %}

{% block body %}

{% block content %}

					<a href="{% url 'places:createplan' %}">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Create Trip plan
					</a>
				
{% endblock %}
<h3>Create Plan</h3>
{% for city in object_list %}
		
		<div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'places:detailuser' city.id %}">
                            <img src="{{ city.logo.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ city.title }}</h2>
                            <h4>{{ city.body }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'places:plantrip' city.id %}" class="btn btn-primary btn-sm" role="button">Select</a>

                            <!-- Delete Album -->
                            

                            <!-- Favorite Album -->
                            

                        </div>
                    </div>
                </div>
				   {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
		{% endfor %}
	
{% endblock %}