{% extends 'places/base.html' %}


 <!-- activation button to redirect user admin home -->
{% block page %}

{% url 'places:index' %}

{% endblock %}

<!-- activation button to redirect cities information/add/delete -->
{% block city %}
	{% url 'places:index' %}
	{% endblock %}
	
	<!-- this button is not for admin-->
	{% block plan %}
	#
	
{% endblock %}


<!-- main body -->
{% block body %}




	<div class="container-fluid places-container">

    <div class="row">

        <!-- Left side Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'places:detail' city.id %}">
                        {% if city.logo %}
                            <img src="{{ city.logo.url }}" class="img-responsive" style="height:250px;width:100%">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ city.title }} <small>{{ city.state }}</small></h1><!-- getting city informations from database -->
                   
                </div>
            </div>
        </div>

        <!-- Right Side Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
               
                <li role="presentation"><a href="{% url 'places:place-add' %}">Add New Place</a></li><!-- to add new places -->
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Places</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
							<th>Type</th>
							<th>Description</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <!-- getting places from database -->
		{% for place in city.place_set.all %}
                            <tr>
                                <td>{{ place.place_title }}</td>
                                <td>{{ place.place_type }}</td>
								<td>{{ place.description }}</td>
                                
                                <td>
                                    <form action="{% url 'places:place-delete' place.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="place_id" value="{{ placae.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete<!--button to delete existing places -->
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div
		
{% endblock %}
