
{% block body %}

            <table class="table">
                        
                        <tbody>
                        
		{% for place in city.place_set.all %}
                            <tr>
                                <td>{{ place.place_title }}</td>
								<td>
                                    
									<a href="#" class="btn-favorite">
						<input type="checkbox" class="{% if place.is_favorite %}active{% endif %}">
					</a>
                                </td>
                                
                              
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
 
{% endblock %}